name: Repository events
on:
  push:
  pull_request: 
    types: [opened, reopened, assigned]
  issues: 
    types: [opened, reopened]

jobs:
  test-repository-event-triggering:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo $GITHUB_SHA
          echo $GITHUB_REF
          echo $GITHUB_TOKEN
      - uses: actions/checkout@v4
      